/*header {
    background-color: cornflowerblue;
}*/

/*#form {
    font-family: 'Agency FB';
    font-size: 20px;
    width: 220px;
    color: darkslategrey;
    background-color: lightslategrey;
    border: 1px solid gray;
    padding:inherit 5px 4px 5px 4px;
    margin:5px 2px;
    height:250px;
   
}

#image {
    font-family: 'Book Antiqua';
    font-size: 20px;
    width: 220px;
    color: darkslategrey;
    background-color: slategray;
    border: 5px dotted;
    padding: inherit 5px 4px 5px 4px;
    margin: 5px 2px;
    height: 270px;
    width: 320px;  
}


#login_button {
    font-family:Baloo;
}

menu li {
    display: inline;
    font-family: fantasy;
}

menu li:after {
    content: " |";
}

    menu li:last-of-type::after {
        content: " ";
    }

span {
    color: darkred;
}*/