@{
    ViewBag.Title = "Home Page";

}
    <div id="image">
        <img src="\img\SK-A-1595.JPG" height="200" width="300">
        <br />
        <label>El siguiente es un ejemplo de Css</label>
    </div>

    <div id="Login">
        <button id="Login_Button" class="btn btn-success">Login</button>
    </div>

    <div id="form">
        <form>
            <label>Name:</label>
            <br />
            <input type="text" />
            <br />
            <label>User:</label>
            <br />
            <input type="text" />
            <br />
            <label>Password:</label>
            <br />
            <input type="password" />
            <br />
            <label>Email:</label>
            <br />
            <input type="email" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>

